.receta__boton {
    background: #da2b1f;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
}

.receta__boton:hover {
    cursor: pointer;
    background: #9f1010;
    transition: all .1s ease-in-out;
}

/* Responsive Mobile */
@media screen and (min-width: 0) and (max-width: 767px) {
    .receta__boton {
        align-self: center;
        width: 100%;
    }
}